<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TaskRunner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <applicationSettings>
    <TaskRunner.Properties.Settings>
      <setting name="PowershellScriptPath" serializeAs="String">
        <value>.\CakeScript\build.ps1</value>
      </setting>
      <setting name="ExecutionTimeOutInSeconds" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="CakeScriptPath" serializeAs="String">
        <value>.\CakeScript\build.cake</value>
      </setting>
    </TaskRunner.Properties.Settings>
  </applicationSettings>
  <unity>
    <alias alias="IEventHandler" 
           type="TaskRunner.Handler.IEventHandler, TaskRunner"
           />
    <alias alias="BuildHandler" type="TaskRunner.Handler.BuildHandler, TaskRunner" />
    <alias alias="CopyHandler" type="TaskRunner.Handler.CopyHandler, TaskRunner" />
    <alias alias="PowershellHandler" type="TaskRunner.Handler.PowershellHandler, TaskRunner" />
    <alias alias="Event" type="TaskRunner.Events.Event, TaskRunner" />
    <alias alias="Build" type="TaskRunner.Events.Build, TaskRunner" />
    <alias alias="Copy" type="TaskRunner.Events.Copy, TaskRunner" />
    <alias alias="PowershellRun" type="TaskRunner.Events.PowershellRun, TaskRunner" />
    <container>
      <register type="IEventHandler" 
                mapTo="BuildHandler" name="Build"  />
      <register type="IEventHandler" 
                mapTo="CopyHandler" name="Copy"  />
      <register type="IEventHandler"
                mapTo="PowershellHandler" name="PowershellRun"  />
      
    </container>
  </unity>
 
</configuration>
