<?xml version="1.0" encoding="utf-8" ?>
<Events>
  <Event>
    <Id>e094ef7d-1644-42ec-a486-d7d6be8380dd</Id>
    <Name>BuildEvent</Name>
    <Type>Build</Type>
    <Details>Build</Details>
    <Order>1</Order>
    <BuildEvent>
      <SolutionPath>C:\GIT\DotNetSourceBuilder\DemoSolution\CakeDemo.sln</SolutionPath>
    </BuildEvent>
  </Event>
  <Event>
    <Id>e094ef7d-1644-42ec-a486-d7d6be8380dd</Id>
    <Name>CopyEvent</Name>
    <Type>Copy</Type>
    <Details>Copy</Details>
    <Order>2</Order>
    <CopyEvent>
      <IsDirectCopy>False</IsDirectCopy>
      <SourcePath>C:\Projects\TaskRunner\TaskRunner\CakeScript\tools\Cake</SourcePath>
      <FolderPatterns>
        <FolderPattern>*</FolderPattern>
      </FolderPatterns>
      <FilePatterns>
        <FilePattern>.pdb</FilePattern>
        <FilePattern>.bin</FilePattern>
      </FilePatterns>
      <DestinationPath>C:\Projects\TaskRunner\TaskRunner\CakeScript\TestDestinationPath</DestinationPath>
    </CopyEvent>
  </Event>
</Events>
