<?xml version="1.0" encoding="utf-8" ?>
<Events>
  <Event>
    <Id>e094ef7d-1644-42ec-a486-d7d6be8380dd</Id>
    <Name>Build Event</Name>
    <Type>Build</Type>
    <Details>Build</Details>
    <Order>1</Order>
    <BuildEvent>
      <IsIISReset>True</IsIISReset>
      <SolutionPath>C:\Sebastian\GIT\DotNetSourceBuilder\DemoSolution\CakeDemo.sln</SolutionPath>
    </BuildEvent>
  </Event>
  <Event>
    <Id>e094ef7d-1644-42ec-a486-d7d6be8380dd</Id>
    <Name>Copy Event</Name>
    <Type>Copy</Type>
    <Details>Copy</Details>
    <Order>2</Order>
    <CopyEvent>
      <IsDirectCopy>False</IsDirectCopy>
      <IsReplaceExisting>True</IsReplaceExisting>
      <SourcePath>C:\Sebastian\SandBox\packagecopy</SourcePath>
      <FolderPatterns>
        <FolderPattern>*</FolderPattern>
      </FolderPatterns>
      <FilePatterns>
        <FilePattern>.pdb</FilePattern>
        <FilePattern>.dll</FilePattern>
      </FilePatterns>
      <DestinationPath>C:\Sebastian\SandBox\packages</DestinationPath>
    </CopyEvent>
  </Event>
  <Event>
    <Id>e094ef7d-1644-42ec-a486-d7d6be8380dd</Id>
    <Name>Powershell Event (ipconfig)</Name>
    <Type>Powershell</Type>
    <Details>Powershell</Details>
    <Order>3</Order>
    <PowershellEvent>
      <Message>ipconfig</Message>
    </PowershellEvent>
  </Event>
</Events>
