<?xml version="1.0" encoding="utf-8" ?>
<Events>
  <Event>
    <Id>e094ef7d-1644-42ec-a486-d7d6be8380dd</Id>
    <Name>BuildEvent</Name>
    <Type>Build</Type>
    <Details>Build</Details>
    <Order>1</Order>
    <BuildEvent>
      <SolutionPath>c:\GIT\TaskRunner\DemoSolution\CakeDemo.sln</SolutionPath>
    </BuildEvent>
  </Event>
  <Event>
    <Id>e094ef7d-1644-42ec-a486-d7d6be8380dd</Id>
    <Name>CopyEvent</Name>
    <Type>Copy</Type>
    <Details>Copy</Details>
    <Order>2</Order>
    <SolutionPath>c:\GIT\TaskRunner\DemoSolution\CakeDemo.sln</SolutionPath>
    <CopyEvent>
      <IsDirectCopy>False</IsDirectCopy>
      <SourcePath>c:\GIT\TaskRunner\DemoSolution\</SourcePath>
      <SourcePatterns>
        <SourcePattern>pdb</SourcePattern>
        <SourcePattern>bin</SourcePattern>
      </SourcePatterns>
      <DestinationPath>C:\Projects\TaskRunner\TaskRunner\CakeScript\TestDestinationPath\</DestinationPath>
      <DestinationPatterns>
        <DestinationPattern>pdb</DestinationPattern>
        <DestinationPattern>bin</DestinationPattern>
      </DestinationPatterns>
    </CopyEvent>
  </Event>
</Events>
