<?xml version="1.0" encoding="utf-8"?>
<Events xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Event xsi:type="PowershellRun">
    <Id>e094ef7d-1644-42ec-a486-d7d6be8380dd</Id>
    <Name>Powershell Event (ipconfig)</Name>
    <Type>PowershellRun</Type>
    <Details>PowershellRun</Details>
    <Order>3</Order>
    <Status>Pending</Status>
    <Message>ipconfig</Message>
  </Event>
</Events>