<?xml version="1.0" encoding="utf-8"?>
<Events xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Event xsi:type="Copy">
    <Id>e094ef7d-1644-42ec-a486-d7d6be8380dd</Id>
    <Name>Copy Event</Name>
    <Type>Copy</Type>
    <Details>Copy</Details>
    <Order>2</Order>
    <Status>Pending</Status>
    <SourcePath>F:\GIT\DotNetSourceBuilder\DemoSolution\packages1</SourcePath>
    <FilePatterns>
      <FilePattern>.pdb</FilePattern>
      <FilePattern>.dll</FilePattern>
    </FilePatterns>
    <FolderPatterns>
      <FolderPattern>*</FolderPattern>
    </FolderPatterns>
    <IsDirectCopy>False</IsDirectCopy>
    <IsReplaceExisting>True</IsReplaceExisting>
    <DestinationPath>F:\GIT\DotNetSourceBuilder\DemoSolution\packages</DestinationPath>
  </Event>
</Events>